<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<form method="post" action="/user/register">
    用户名:<input type="text" name="username"/>
    密码:<input type="password" name="password"/>
</form>
</body>
</html>